<form [formGroup]="registerForm" class="mt-4">
    <div class="mb-3">
        <label for="registerName" class="form-label">Name</label>
        <input type="text" formControlName="displayName" class="form-control" id="registerName">
    </div>
    <div class="mb-3">
        <label for="registerEmail" class="form-label">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="registerEmail">
    </div>
    <div class="mb-3">
        <label for="registerPassword" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="registerPassword">
    </div>
    <div class="mb-3">
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-primary">Register</button>
    </div>
</form>