<form [formGroup]="loginForm" class="mt-4">
    <div class="mb-3">
        <label for="loginEmail" class="form-label">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="loginEmail">
    </div>
    <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="loginPassword">
    </div>
    <div class="mb-3">
        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary">Login</button>
    </div>
</form>